body{
    margin: 0;
}

.container{
    margin: auto;
    width: 1200;
}
.row{
display: flex;
flex-wrap: wrap;
}
/* Task 1 */

.t-box-1 .img-box img{
    position: relative;
    height: 700px;
    width: 1350;


}
.overlay {
    position: absolute;
    background-color: black;
    opacity: 0.15;
    z-index: 1;
    width: 88%;
    height: 93%;
}
.img-txt {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 30%;
}

.img-txt h1{
    font-size: 60px;
}
.img-txt p{
    font-size: 30px;
    font-weight: 400;


}
.img-txt a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 20px 35px;
    border-radius: 25px;
  background-color: white;
  
}
.img-txt a:hover{
    background-color: rgba(187, 150, 101, 0.781);
   transition: 0.4s;
}
.t2 {
    margin: 50px 0 ;
}

/* Task 2 */

.t-2{
    margin: 50px;
}
.t-box-2{
    flex: 0 0 30%;
    margin: 20px auto;
    background-color: cornsilk;

}
.t-box-2 img{
    width: 100%;
}
/* Task 7*/

.t-box-7{
    
width: 300px;
height: 500px;
padding: 60px;
border: 1px solid red;
box-sizing: border-box;
     
    
}
.t-box-7 img{
    align-content: center;
    height: 60%;
    width: 120%;
    border-color: black;
}

.t-box-7 h6{
    text-align: center;
    font-size: 20px;
    color: black
}

.t-box-7 p{
    font-size: 20px;
    font-weight: 400;
}
.t-box-7:hover {
    background-color: rosybrown;
    transition: 0.5s;

}



/* Task 5 */
.t-box-5 img{
    height: 400px;
    width: 550px;
    
}
/* Start of Task 4 */
.t-4
{
    margin:50 px 0;
}
.t-4-wb {
    flex:0 0 45%;
    margin: 20px 0;
    padding: 0 12px;
}
.t-4-wb .Tb{
    border: thick dashed black;
}
.t-4-wb .Tc{
    border: thick dashed black;
}
.t-4-wb .Tb img {
    float: left;
    width: 200px;
    height: 195px;
    margin: 0 15%;
    border-radius: 35px ;
}
.t-4-wb .Tc img {
    float: right;
    width: 200px;
    height: 195px;
    margin: 0 15%;
    border-radius: 35px ;
}
/* Task 6 */
.t-6{
    margin:50px 0;
    
}
.t-6-wb{
    flex:0 0 60%;
    
    /* border:thin solid black; */
    margin: 12px 0;
}
.t-6-wb .XY{
    width:750px;
    height:400px;
    
}
.t-6-wb .ZX{
   
   width:800px;
   height:345px;
   
}
.t-6-wb .XY img{
    
   margin:0 25px;;
    width:250px;
    height:250px;
    display:inline-block;
}

.t-6-wb .ZX img{

    float:right;
   width:250px;
   display:inline-block;
}
.t-6-wb .XY h1{
   text-align:right;
}
.t-6-wb .XY p{
   text-align:right;
}
.t-6-wb .ZX h1{
   text-align:left;
}

